.box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.name {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

.balance {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.balance > div {
  margin-top: 12px;
  margin-left: 40px;
}

.balance > img {
  width: 70px;
  height: 70px;
  border-radius: 90px;
}

.balance > div > p {
  font-size: 30px;
  margin: auto;
}

.balance > div > a {
  color: #2563eb;
  font-weight: bold;
}

.sort {
  background: #ffffff;
  border: 1px solid #ddd;
  color: #000;
  border-radius: 5px;

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.sort > ul {
  width: 200px;
  text-align: center;
  position: relative;
}

.sort > ul > li {
  padding: 14px 0;
  cursor: pointer;
}

.sort > ul ul {
  position: absolute;
  top: 100%;
  background: #fff;
  color: #000;
  padding: 0;
  width: 200px;
  z-index: 999;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 5px gray;
}

.sort > ul ul li {
  padding: 5px 0;
}

.sort > ul ul li:hover {
  background: #000;
  color: #fff;
}

.checkout_pop {
  top: 50%;
  left: 22%;
  transform: translate(20%, -50%);
}

.chat_area {
  height: 500px;
  box-shadow: 0px 0px 2px gray;
  overflow: auto;
}

.person {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #8080807c;
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.person > .img {
  width: 10%;
}

.person > .img > img {
  width: 50px;
  border-radius: 50%;
  margin: 0 auto;
}

.person > .img p {
  text-align: center;
  margin-top: 10px;
}

.person > .message {
  width: 88%;
}

.person > .message > p {
  margin-top: 10px;
  opacity: 0.5;
}

.user_chat {
  background: #48474715;
}

.payment_method {
  background: green;
  background: linear-gradient(130deg, #15367d, #2563eb, #0f3485);
  color: #fff;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
}
.reseller_note {
  text-align: justify;
  width: 100%;
  height: 600px;
  padding: 10px;
  overflow: auto;
  box-shadow: inset 2px 0px 5px gray;
}
.checkbox {
  width: 20px;
  height: 20px;
  margin: 20px 0;
}

.slider {
  position: relative;
  max-width: 40rem;
  height: 26.625rem;
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 26.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
button {
  background: none;
  border: none;
}
button .fas {
  color: rgba(255, 255, 255, 0.5);
}
.btn-slide {
  position: absolute;
  top: 50%;
  z-index: 10;

  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
}
.prev {
  left: 3rem;
  transform: translate(-50%, -50%);
}
.next {
  right: 3rem;
  transform: translate(50%, -50%);
}
.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dot {
  width: 25px;
  height: 5px;
  margin: 15px 5px;
  border-radius: 0.5rem;
  background: rgba(39, 39, 39, 0.5);
  cursor: pointer;
}
.dot.active {
  background: #272727;
}

#share_buttons {
  position: none;
}

@media (min-width: 1023px) {
  #share_buttons {
    position: fixed;
  }
}

.ds_div li a.active {
  background: blue !important;
  color: #ffffff !important;
}

/* paginations styles */

.paginations {
  width: 100%;
  padding: 0px 10px;
}

.paginations > ul {
  display: flex;
  align-items: center;
}

.paginations > ul > li {
  list-style: none;
  display: inline-block;
}

.paginations > ul > li > a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background: rgb(209 213 219);
  cursor: pointer;
}

.paginations > ul > li > a:hover {
  background: rgb(247 83 137);
  color: #fff;
}
